@using Gumburger.Application.Models.DTOs;
@using Gumburger.Domain.Enums;
@model AddressDTO

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";

}


<div class="row flex-column container ps-5">

    <h1>Edit</h1>

    <h4>Address</h4>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="FullAddress" class="control-label"></label>
                    <input asp-for="FullAddress" class="form-control" />
                    <span asp-validation-for="FullAddress" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary m-3" asp-action="Edit" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>