@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml"; // If you have a shared layout, adjust accordingly
}

<div>
    <h1>Erişim Reddedildi</h1>
    <p>Üzgünüz, Bu Sayfayı Görüntülemek İçin Yeterli İzinlere Sahip Değilsiniz.</p>
</div>