@{
    ViewData["Title"] = "Home Page";
}


<body>


    <div class="bg-box d-flex justify-content-start align-items-center" style="background-image:url(https://themewagon.github.io/feane/images/hero-bg.jpg);">


        <div class="container">

            <div class="col-md-4 col-lg-4 m-5 text-white">
                <!-- Carousel -->
                <div id="demo"
                     class="carousel slide"
                     data-bs-ride="carousel"
                     style="z-index: 1">
                    <!-- Indicators/dots -->
                    <div class="carousel-indicators">
                        <button type="button"
                                data-bs-target="#demo"
                                data-bs-slide-to="0"
                                class="active"></button>
                        <button type="button"
                                data-bs-target="#demo"
                                data-bs-slide-to="1"></button>
                        <button type="button"
                                data-bs-target="#demo"
                                data-bs-slide-to="2"></button>
                    </div>

                    <!-- The slideshow/carousel -->
                    <div class="carousel-inner">
                        <div class="carousel-item active  mb-5">
                            <h1 class="mb-4">GUMBURGER</h1>
                            <p>
                                GumBurger, taze malzemelerle hazırlanan lezzetli burgerleriyle dikkat çeken bir fast food markasıdır.
                                Özenle seçilen etler, taze sebzeler ve özel soslarla zenginleştirilen burgerlerimiz, her lokmada unutulmaz bir deneyim sunar.
                                Hızlı servisi ve kaliteli ürünleri ile GumBurger, lezzeti her zaman öncelikli kılar.
                            </p>
                        </div>
                        <div class="carousel-item  mb-5">
                            <h1>GUMBURGER</h1>
                            <p>
                                GumBurger, taze malzemelerle hazırlanan lezzetli burgerleriyle dikkat çeken bir fast food markasıdır.
                                Özenle seçilen etler, taze sebzeler ve özel soslarla zenginleştirilen burgerlerimiz, her lokmada unutulmaz bir deneyim sunar.
                                Hızlı servisi ve kaliteli ürünleri ile GumBurger, lezzeti her zaman öncelikli kılar.
                            </p>
                        </div>
                        <div class="carousel-item  mb-5">
                            <h1>GUMBURGER</h1>
                            <p>
                                GumBurger, taze malzemelerle hazırlanan lezzetli burgerleriyle dikkat çeken bir fast food markasıdır. 
                                Özenle seçilen etler, taze sebzeler ve özel soslarla zenginleştirilen burgerlerimiz, her lokmada unutulmaz bir deneyim sunar. 
                                Hızlı servisi ve kaliteli ürünleri ile GumBurger, lezzeti her zaman öncelikli kılar.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container mt-5">
        <div class="row gx-5 ">
            <div class="col-md-4 bg-dark text-white">
                <div class="offer-box">
                    <div class="img-box">
                        <img class="img-fluid rounded-circle m-2 border border-3 border-warning"
                             src="https://themewagon.github.io/feane/images/o1.jpg"
                             alt="" />
                    </div>
                    <div class="details container-fluid ps-3 pt-5">
                        <h3>HER</h3>
                        
                        
                    </div>
                </div>
            </div>

            <div class="col-md-4 bg-dark text-white">
                <div class="offer-box">
                    <div class="img-box">
                        <img class="img-fluid rounded-circle m-2 border border-3 border-warning"
                             src="https://themewagon.github.io/feane/images/o1.jpg"
                             alt="" />
                    </div>
                    <div class="details container-fluid ps-3 pt-5">
                        <h3>CUMA</h3>
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 bg-dark text-white">
                <div class="offer-box">
                    <div class="img-box">
                        <img class="img-fluid rounded-circle m-2 border border-3 border-warning"
                             src="https://themewagon.github.io/feane/images/o1.jpg"
                             alt="" />
                    </div>
                    <div class="details container-fluid ps-3 pt-5">
                        
                        <h2><span>20% </span>off</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="container mt-4">
        <div class="heading-container text-center">
            <h2>ÇOK YAKINDA</h2>
        </div>
       

        <div class="row ">
            <div class="col-lg-4 col-md-6 mt-4 ">
                <div class="menu-box border bg-dark rounded-3 ">
                    <div id="our-menu" div class="bg-light text-center">
                        <img class="img-fluid"
                             style="width: 200px"
                             src="https://i.imgur.com/gnFvvL6.png"
                             alt="" />
                    </div>
                    <div class="container bg-dark text-white text-start p-4 rounded-bottom-3">
                        <h5>Delicious Burger</h5>
                        <p>
                            Lezzetin zirvesi! Delicious Burger,
                            taze malzemelerle hazırlanan, el yapımı soslarla zenginleştirilmiş burgerleriyle damaklarınıza hitap ediyor.
                        </p>
                        <h6 class="text-start mt-5">
                            
                            
                        </h6>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 mt-4 ">
                <div class="menu-box border bg-dark rounded-3 ">
                    <div id="our-menu" div class="bg-light text-center">
                        <img class="img-fluid"
                             style="width: 200px"
                             src="https://i.imgur.com/n0FpCfV.png"
                             alt="" />
                    </div>
                    <div class="container bg-dark text-white text-start p-4 rounded-bottom-3">
                        <h5>GumBurger Special</h5>
                        <p>
                            GumBurger Special, taze malzemelerle hazırlanmış lezzet dolu burgerler sunar. 
                            Her lokmada eşsiz bir deneyim için bize katılın!

                        </p>
                        <h6 class="text-start mt-5">
                            
                        </h6>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 mt-4 ">
                <div class="menu-box border bg-dark rounded-3 ">
                    <div id="our-menu" div class="bg-light text-center">
                        <img class="img-fluid"
                             style="width: 200px"
                             src="https://theeburgerdude.com/wp-content/uploads/2023/02/Baconator-1024x1024.jpg"
                             alt="" />
                    </div>
                    <div class="container bg-dark text-white text-start p-4 rounded-bottom-3">
                        <h5>Baconator Burger</h5>
                        <p>
                            Baconator Burger, çıtır bacon ve taze malzemelerle dolu, doyurucu burger deneyimi sunar. Her ısırıkta lezzeti hissedin!
                        </p>
                        <h6 class="text-start mt-5">
                            
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center mt-4">
        <button class="btn btn-warning text-center p-2 ps-4 pe-4 rounded-4 text-white" onclick="location.href='Menu';">
            Daha Fazla
        </button>
    </div>
    </div>
    <div class="container-fluid">
        <div class="row bg-dark mt-5" div id="about">
            <div class="col-lg-6 col-12 order-lg-1 order-2 p-1 text-sm-center text-lg-end">
                <img src="https://themewagon.github.io/feane/images/about-img.png"
                     class="img-fluid p-5"
                     style="width: 60%" />
            </div>

            <div class="col-lg-4 col-12 order-lg-2 order-1 d-lg-flex align-items-center p-5 text-white text-sm-left">
                <h2>
                    GUMBURGER
                    <p>
                        Bize katılın ve lezzetin gerçek anlamını keşfedin!
                        GumBurger, en kaliteli malzemelerle hazırlanan, 
                        özenle seçilmiş burgerler sunarak her lokmada unutulmaz bir deneyim yaşatmayı amaçlıyor.
                        Misyonumuz, her müşteri için lezzetli ve sağlıklı seçenekler sunmak ve onları mutlu etmektir.
                    </p>

                    
                </h2>
            </div>
        </div>
    </div>

    <div class="container mt-4 book-table">
        <h1>Book A Table</h1>
        <div class="row">
            <div class="col-md-6 p-3">
                <div class="form-container">
                    <div class="form-action">
                        <input type="text"
                               class="form-control mt-1"
                               style="height: 50px"
                               placeholder="Adınız" />
                        <input type="text"
                               class="form-control mt-3"
                               style="height: 50px"
                               placeholder="Telefon Numaranız" />
                        <input type="email"
                               class="form-control mt-3"
                               style="height: 50px"
                               placeholder="EMailiniz" />
                        <input type="date"
                               class="form-control mt-3"
                               style="height: 50px"
                               placeholder="How Many Of You" />
                        <button class="btn btn-warning text-center p-2 ps-4 pe-4 mt-4 rounded-4 text-white">
                            Book Now
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-3">
                <div class="map-container">
                    <iframe style="width: 100%"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3005.694208210197!2d29.007342776454465!3d41.11936901257638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab52aa23e6b65%3A0x57a0d5b52a8cb13c!2zTmnFn2FudGHFn8SxIMOcbml2ZXJzaXRlc2kgTmVvVGVjaCBLYW1ww7xz!5e0!3m2!1str!2str!4v1747218987482!5m2!1str!2str"
                            width="600"
                            height="450"
                            style="border: 0"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

</body>
